*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: url(images/background.png);
    /* background-color: black; */
    background-attachment: scroll; 
}

h1{
    font-size: 80px;
    color: white;
}

  div.polaroid {
    float: left;
    margin: auto;
    width: 35%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 25px; */
 }
 p{
    color: white;
    font-size: 30px;
 }
 div.container {
    margin: auto;
    text-align: center;
    padding: 40px 70px;
    background-color: white;
    background-attachment: fixed;
}